{% extends 'base.html.twig' %}

{% block title %}Hello AdminMovieController!{% endblock %}

{% block main %}
        <section id="central-section" class="bg-light p-5">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-12 mb-3"><h1>Ajouter un Film</h1></div>
                <div class="col-12 mb-3">{{ form_row(form.title) }}</div>
                <div class="col-12 mb-3">{{ form_row(form.plot) }}</div>
                <div class="col-12 mb-3">{{ form_row(form.poster) }}</div>
                <div class="col-12 mb-3">{{ form_row(form.genre) }}</div>
                <div class="col-12 mb-3">{{ form_widget(form.releasedAt) }}</div>
                <div class="col-12 mb-3">{{ form_widget(form.save) }}</div>
            </div>
            {{ form_end(form) }}
        </section>
    {{ dump() }}
{% endblock %}
