{% macro nav_link(route, text, title, withFa = false) %}
    {% set active = route == app.request.attributes.get('_route') -%}
    <li class="nav-item{{ active ? ' active' }}">
        <a class="nav-link" href="{{ path(route) }}" title="{{ title }}">
            {% if withFa %}
                <i class="fas fa-{{ text }}"></i>
            {% else %}
                {{ text }}
            {% endif %}
            {{ active ? ' <span class="sr-only">(current)</span>' }}
        </a>
    </li>
{% endmacro %}

<header>
    <nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark justify-content-center">
        <a class="navbar-brand mr-0" href="{{ path('app_main_index') }}"><img src="{{ asset('assets/images/sensiotv-icon.png') }}" alt="SensioTV Brand Icon"> <span class="color-green">TV+</span></a>
        <button class="navbar-toggler ml-5" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="collapsingNavbar">
            <ul class="navbar-nav mx-auto text-center">
                {{ _self.nav_link('app_main_index', 'Home', 'Back to the homepage') }}
                {{ _self.nav_link('app_movie_top_rated', 'Top Rated', 'Get all top rated movies') }}
                {{ _self.nav_link('app_movie_by_genre', 'Browse By Genre', 'Find your movie by genre') }}
                {{ _self.nav_link('app_movie_latest', 'Latest', 'Get all new movies') }}
                {{ _self.nav_link('app_main_contact', 'Help Center', 'You need some help? Contact us!') }}
                {{ _self.nav_link('app_admin_move_new', 'New Movie', 'Add a new movie') }}
            </ul>
            <ul class="navbar-nav text-center">
                {{ _self.nav_link('app_user_cart', 'shopping-bag', 'See your cart', true) }}
                {{ _self.nav_link('app_main_login', 'user', 'Register or log in', true) }}
            </ul>
        </div>
    </nav>

    {% block extra_header %}{% endblock %}
</header>
